In [1]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [2]:
for planet in planets:
    print(planet, end=' ')

Mercury Venus Earth Mars Jupiter Saturn Uranus Neptune

In [3]:
multiplicands = (2, 2, 2, 3, 3, 5)
product = 1

In [4]:
for mult in multiplicands:
    product = product * mult
product

360

In [5]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'

In [6]:
msg =[]
for char in s:
    if char.isupper():
        msg.append(char)
        print(char, end='')

HELLO

In [7]:
help(char.isupper)

Help on built-in function isupper:

isupper() method of builtins.str instance
    Return True if the string is an uppercase string, False otherwise.

    A string is uppercase if all cased characters in the string are uppercase and
    there is at least one cased character in the string.

In [8]:
print(msg)

['H', 'E', 'L', 'L', 'O']

range()

In [9]:
for i in range(5):
    print('doint work for i =', i)

doint work for i = 0
doint work for i = 1
doint work for i = 2
doint work for i = 3
doint work for i = 4

In [10]:
#while loops
i = 0
while i < 10:
    print(i, end=' ')
    i +=1

0 1 2 3 4 5 6 7 8 9

List Comprehensions

In [11]:
squares = [n**2 for n in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
squares = []
for n in range(10):
    squares.append(n**2)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 
           'Saturn', 'Uranus', 'Neptune']

In [14]:
short_planets = [planet for planet in planets if len(planet) < 6]
short_planets

['Venus', 'Earth', 'Mars']

In [15]:
looud_short_planets = [planet.upper() + '!' for planet in planets if len(planet) < 6]

In [16]:
looud_short_planets

['VENUS!', 'EARTH!', 'MARS!']

In [17]:
[
    planet.upper() + '!'
    for planet in planets
    if len(planet) < 6
]

['VENUS!', 'EARTH!', 'MARS!']

In [18]:
help(planet.upper)

Help on built-in function upper:

upper() method of builtins.str instance
    Return a copy of the string converted to uppercase.

In [19]:
[32 for planet in planets]

[32, 32, 32, 32, 32, 32, 32, 32]

In [20]:
def count_negatives(nums):
    n_negative = 0
    for num in nums:
        if num < 0:
            n_negative = n_negative + 1
    return n_negative

In [21]:
#solution id used list comprehensions
def count_negatives(nums):
    return len([num for num in nums if num < 0])

In [22]:
def count_negatives(nums):
    return sum([num < 0 for num in nums])

EXERCISE

In [23]:
def has_lucky_number(num):
    return any(num % 7 == 0 for num in nums)

In [24]:
help(any)

Help on built-in function any in module builtins:

any(iterable, /)
    Return True if bool(x) is True for any x in the iterable.

    If the iterable is empty, return False.

In [25]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [34]:
def elementwise_greater_than(L, thresh):
    return [i > thresh for i in L]

In [35]:
print(elementwise_greater_than([1, 2, 3, 4], 3))

[False, False, False, True]

In [42]:
def menu_is_boring(meals):
    for i in range(len(meals) - 1):
        if meals[i] == meals[i+1]:
            return True
    return False

In [43]:
print(menu_is_boring( ['breakfast', 'lunch', 'dinner', 'snack', 'dessert']))

breakfastlunch
lunchdinner
dinnersnack
snackdessert
False

In [ ]:
# def estimate_average_slot_payout(n_runs):
#     payout = [play_out_machine() - 1 for i in range(n_runs)]
#     av_payout = sum(payout / n_runs)
#     return av_payout